.projectcard_dark {
	border: 2px solid white;
	color: white;
}

.projectcard_light {
	border: 2px solid black;
	color: black;
}

.tech_dark {
	border: 2px solid white;
	color: white;
}

.tech_light {
	border: 2px solid black;
	color: black;
}
